imports:
  - { resource: vendor/openeuropa/code-review/dist/library-conventions.yml }

grumphp:
  git_hook_variables:
    EXEC_GRUMPHP_COMMAND: 'docker-compose exec -T php'
  extensions:
    - OpenEuropa\CodeReview\ExtraTasksExtension

parameters:
  tasks.phpcs.ignore_patterns:
    - src/Notification/Type
    - src/Request/Type
    - src/Authentication/ClientCertificate/Type
    - src/TicketValidation/Type
  tasks.phpcs.triggered_by:
    - php
  tasks.phpmd.exclude:
    - src/Notification/Type
    - src/Request/Type
    - src/Authentication/ClientCertificate/Type
    - src/TicketValidation/Type
